<div class="site-footer__widget footer-contacts">
    <h5 class="footer-contacts__title">Contactez-nous</h5>

    <div class="footer-contacts__text">
        <!-- Content Managed by Pimalion, your all-in-one solution for Multi-channel content enrichment and  publication. Our cutting-edge technology helps streamline your data management process and optimize your product information for maximum impact. -->
        Géré par Pimalion, votre solution tout-en-un pour l'enrichissement et la publication de contenu multi-canal. Notre technologie de pointe aide à rationaliser votre processus de gestion de données et à optimiser vos informations produit pour un impact maximal.
    </div>

    <ul class="footer-contacts__contacts">
        <li><i class="footer-contacts__icon fas fa-globe-americas"></i>AI-Crafted by Pimalion</li>
        <li><i class="footer-contacts__icon far fa-envelope"></i> info@pimalion.com</li>
        <li><i class="footer-contacts__icon fas fa-mobile-alt"></i>+(33) 6 23 48 01 80</li>        
    </ul>
</div>
